/* Estilos CSS personalizados modal vitrificado*/
.modal-content {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal-header, .modal-footer{
    border: none !important;
}

.box {
    text-align: center;
    margin-top: 50px
  }